<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>
	<link rel="stylesheet" href="stylesheets/style.css"/>
	<title>Survival of The Fittest</title>
</head>
<body>
<!--Page start-->
<div class="landing container">
<div class="row">
	<center>
		<h1>Survival of The Fittest</h1>
	</center>
</div>

<!-- <form> -->
  <div class="row">
  <div class="four columns"> &nbsp; </div>
    <div class="four columns">
      <!-- <label for="playerNameInput">Name</label> -->
      <input class="u-full-width" placeholder="Conway" id="playerNameInput" type="text">
      </div>
    </div>
 <div class="row">
  <div class="three columns"> &nbsp; </div>
    <div class="six columns"><center>
      <div class="colourBlock chosenBlock blue"></div>
      <div class="colourBlock red"></div>
      <div class="colourBlock green"></div>
       <div class="colourBlock purple"></div>
      <div class="colourBlock pink"></div>
      <div class="colourBlock grey"></div>
      </center>
      </div>
    </div>
<div class="row">
  <div class="four columns"> &nbsp; </div>
    <div class="four columns">
      <center><input class="button-primary join" value="Join Game" type="submit"></center>
      </div>
    </div>
</div>

<!--Game start-->
<div class="game container">
<div class="row">

	<div class="two columns sideCol leftCol">

		<span class="playerName playerNameleft">Waiting..</span>
	</div>
	<div class="eight columns midCol">
    <div class="canvContainer" >
	  <canvas id="lifecanvas" height="500px" width="700px">
	    Your browser doesn't appear to support the <code>&lt;canvas&gt;</code> element.
	  </canvas>
    </div>
	  </div>
	<div class="two columns sideCol rightCol">
		<span class="playerName playerNameright">Waiting..</span>
	</div>
</div>
<div class="row">
<div class="twelve columns"><span class="cellsLeft"> Cells left to birth: <span class="numCellsLeft"></span></span></div>
</div>
</div>

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="javascripts/drawing.js"></script>
</body>
</html>