body {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #ecf0f1;
    background-color:#2980b9;
}

h1 {
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

a {
    color: #00B7FF;
}

#lifecanvas {
    display: block;
    /*margin: 0 auto;*/
    border-radius:1%;
    border-style: 4px solid #50514f;
}
.sideCol{
    margin: 0 auto;
}
.midCol{
    margin: 0;
}
.row {
    width:100%;
}

.game {
    display:none;
}
.two.columns{
    text-align: center;
}

.colourBlock{
    height:30px;
    width:30px;
        margin: 0 auto;
        margin-left:5px;
        margin-right:5px;
        margin-bottom:10px;
        display: inline-block;
        overflow: hidden;
        border-radius:15%;
        border:0px solid black;
}
.chosenBlock{
    border: 3px solid black;
}
.blue{
    background: #1a5d7a;
}

.green{
    background: #70C1B3;
}

.red{
    background: #F25F5C;
}

.pink{
    background: #FFE066;
}

.grey{
    background: #50514f;
}

.purple{
    background: #c7efcf;
}
.playerName{
    font-size: 30px;
    min-width: 105px;
    display: block;
}
#playerNameInput{
    font-size: 20px;
}
.landing{
    margin: 10% auto;
}
.one{
    margin: 0;
}
.game{
    width: 100%;
    max-width: none;
}
.canvContainer{
    position: relative;
    margin: 0 auto;
    height: 500px;
    width: 700px;
}
.oponentOverlay{
    text-align: center;
    vertical-align: center;
    width: 350px;
    height: 500px;
    background-color: rgba(41,128,185,0.5);
    top: 0;
    position: absolute;
    display: table;
}
.waitingLabel{
    display: table-cell;
    vertical-align: middle;
    font-size: 35px;
}
.readyCont{
    text-align: center;
}
.ready{
    width: 127.125px;
}
@media (min-width: 550px){
    .two.columns {
            width: 17.3333333333%;
    }
}