body {
  padding: 50px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #ecf0f1;
  background-color:#2980b9;
}

h1 {
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

a {
  color: #00B7FF;
}

#lifecanvas {
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:1%;
    border-style: 4px solid #50514f;
}

.row {
	width:100%;
}

.game {
	display:none;
}

.colourBlock{
	height:30px;
	width:30px;
    margin: 0 auto;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:10px;
    display: inline-block;
    overflow: hidden;
    border-radius:15%;
    border:0px solid black;
}

.blue{
	background: #1a5d7a;
}

.green{
	background: #70C1B3;
}

.red{
	background: #F25F5C;
}

.pink{
	background: #FFE066;
}

.grey{
	background: #50514f;
}

.purple{
	background: #c7efcf;
}